[Desktop Entry]
Name=Antigravity IDE
Comment=Antigravity AI-First IDE (v2.1.1+)
GenericName=Text Editor
Exec=/usr/local/bin/antigravity %F
Icon=antigravity
Type=Application
StartupNotify=false
StartupWMClass=Antigravity
Categories=TextEditor;Development;IDE;
MimeType=application/x-antigravity-workspace;
X-WSL-No-Export=false
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/local/bin/antigravity --new-window %F
Icon=antigravity